<%-include('header')-%>
<div class="conatiner " style="background-color: #4fc3f7;">
<div class="container"  >
    <nav class="navbar navbar-expand-lg -tertiary-fixed" style="background-color: #4fc3f7;" >
        <div class="container-fluid" style="background-color: #4fc3f7;">
          <a class="navbar-brand" href="#" style="color: white;">AmeegoLabs</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#" style="margin-left: 3em; color: white;"> Courses</a>
              </li>
              
              
             <button type="logout" class="btn btn-primary" style="background-color: 65d4cb ; margin-left: 60em; width: 6em;"  >Logout</button>
          </div>
        </div>
      </nav>
</div>
   <section>
    <div class="banner mt-3" style="background-color: #4fc3f7; height: 4em;">
        <div ><h3 class="d-flex justify-content-center " style="color: white;">What Do I Teach ?</h3></div>
     
    </div>
   </section> 
   </div>
   <section>
    <div class="aimation-area">
      
      <ul class="box-area">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <div class="container">
            <div class="box">
              <div class="container text-center" style="margin-top: 13em;">
                <div class="row align-items-center">
                  <div class="col">
                    <button type="button" class=" btn btn-primary" style="background-color: #4fc3f7; width: 9em; height: 3em;">
                      class I
                    </button>
                    
                    
                    
                  </div>
                  <div class="col">
                    <button type="button" class=" btn btn-primary" style="background-color: #4fc3f7; width: 9em; height: 3em;">
                      class II
                    </button>
                  </div>
                  <div class="col">
                    <button type="button" class=" btn btn-primary" style="background-color: #4fc3f7; width: 9em; height: 3em;">
                      class III
                    </button>
                  </div>
                </div>
              </div>
              <div class="container text-center " style="margin-top: 8em;" >
                <div class="row align-items-center">
                  <div class="col">
                    <button type="button" class="btn btn-primary" style="background-color: #4fc3f7;  width: 9em; height: 3em;">
                      class IV
                    </button>
                  </div>
                  <div class="col">
                    <button type="button" class="btn btn-primary" style="background-color: #4fc3f7;  width: 9em; height: 3em;">
                      class V
                    </button>
                  </div>
                  <div class="col">
                    <button type="button" class="btn btn-primary" style="background-color: #4fc3f7;width: 9em; height: 3em;">
                      class VI
                    </button>
                  </div>
                </div>
              </div>
              <div class="container text-center " style="margin-top: 8em;">
                <div class="row align-items-center">
                  <div class="col">
                    <button type="button" class="btn btn-primary" style="background-color: #4fc3f7;  width: 9em; height: 3em;">
                      class VII
                    </button>
                  </div>
                  <div class="col">
                    <button type="button" class="btn btn-primary" style="background-color: #4fc3f7;width: 9em; height: 3em;">
                      class VIII
                    </button>
                  </div>
                  <div class="col">
                    <button type="button" class="btn btn-primary" style="background-color: #4fc3f7; width: 9em; height: 3em;">
                      class X
                    </button>
                  </div>
                </div>
              </div>

              </div>
            </div>
          </div>
         </ul>
        </div>
        
   </section>
   
    
        


<%-include('footer')-%>